apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-go-api
  namespace: backend
spec:
  securityContext:
    runAsUser: 10001
  selector:
    matchLabels:
      run: simple-go-api
  replicas: 3
  template:
    metadata:
      labels:
        run: simple-go-api
    spec:
      containers:
      - name: simple-go-api
        image: ghcr.io/mrofisr/simple:latest
        ports:
        - containerPort: 3000
        resources:
          limits:
            cpu: 500m
          requests:
            cpu: 200m