name: CI Testing - PullRequest
on:
  pull_request:
    
jobs:
  SAST:
    name: SAST Pipeline
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          ignore-unfixed: false
          format: "table"
          exit-code: 1
      - name: Build an image from Dockerfile
        run: |
          docker build -t ghcr.io/mrofisr/simple:latest .
      - name: Run Trivy vulnerability scanner in docker mode
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "ghcr.io/mrofisr/simple:latest"
          format: "table"
          exit-code: 1
          ignore-unfixed: false
          vuln-type: 'os,library'
      - name: Upload Trivy scan results to GitHub Security tab (repo)
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: trivy-results-repo.sarif
          category: repo
      - name: Upload Trivy scan results to GitHub Security tab (docker)
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: trivy-results-docker.sarif
          category: docker